/* Logo area */
.logo-area {
    position: absolute;
    top: 20px;
    left: 30px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.logo-area img {
    height: 60px;
    width: auto;
}

.container {
    max-width: 1200px;
    background: #f7e9dc;
    margin: auto;
    padding: 30px;
    border-radius: 12px;
}

.header {
    background: #7b0000;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.content {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.left {
    flex: 2;
}

.right {
    flex: 1;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.date {
    color: gray;
    font-size: 14px;
}

.status-btn {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.status-btn .active {
    background: #7b0000;
    color: white;
}

.btn {
    border: none;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.hadir { background: #ccc;}
.izin { background: #ccc;}
.sakit { background: #ccc; }

textarea {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    border-radius: 8px;
    padding: 8px;
}

.send {
    background: #7b0000;
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 50%;
    margin-top: 8px;
    cursor: pointer;
}

.summary {
    display: flex;
    gap: 10px;
}

.box {
    background: white;
    flex: 1;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile img {
    width: 50px;
    border-radius: 50%;
}

.stats {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.red {
    color: red;
}

.riwayat-title {
    margin: 10px 0;
}

.riwayat-card {
    padding: 15px;
    border-radius: 10px;
    color: white;
    margin-bottom: 10px;
    background: #7b0000;
}

.hadir-bg {
    background: #7b0000;
}

.izin-bg {
    background: #a04000;
}

.riwayat-card button {
    background: #f5a623;
    border: none;
    padding: 6px 12px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}