/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Poppins', sans-serif;
    background: #FDF0E7;
    height: 100vh;
}

/* Wrapper */
.login-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Logo kiri atas */
.logo-area {
    position: absolute;
    top: 20px;
    left: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-area img {
    height: 70px;
    width: auto;
}

/* Login Image */
.login-card img {
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}


.login-image img {
    width: 120px;
    height: auto;
}

/* Card Login */
.login-card {
    background: #7A0200;
    background-image: image-set(url('../images/BG Login.png'));
    padding: 45px 40px;
    height: 700px;
    width: 600px;
    border-radius: 18px;
    text-align: center;
    color: white;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.6s ease-in-out;
    flex-direction: column;
    
}

/* Judul */
.login-card h2 {
    font-weight: 600;
    margin-bottom: 8px;
    letter-spacing: 1px;
}

.login-card p {
    font-size: 14px;
    margin-bottom: 25px;
    opacity: 0.9;
}

/* Input Group */
.input-group {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px 16px;
    margin: 10px;
    font-size: 15px;
    border-radius: 12px;
    height: 50px;
    border: 2px solid #fff;
    background: #fff; /* lebih tegas dari transparan */
    color: rgb(0, 0, 0);
    outline: none;
    transition: all 0.3s ease;
    padding-left: 50px; /* ruang untuk icon */
}

.input-group svg {
    position: absolute;       /* supaya bisa diatur di dalam input */
    left: 20px;               /* jarak dari kiri input */
    top: 50%;                 /* vertikal center */
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    stroke: rgb(0, 0, 0);   /* ubah warna icon */
    pointer-events: none;     /* klik tetap ke input */
}


/* Focus Effect */
.input-group input:focus {
    outline: none;
    box-shadow: 0 0 0 2px white;
}

/* Button */
button {
    width: 45%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: white;
    color: #7A0200;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 6px;
}

/* Hover Button */
button:hover {
    background: #f2f2f2;
    transform: translateY(-2px);
}

/* Animasi masuk */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

