/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Poppins', sans-serif;
    background: #FDF0E7;
    min-height: 100vh;
}

/* Wrapper */
.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

/* Logo area */
.logo-area {
    position: absolute;
    top: 20px;
    left: 30px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.logo-area img {
    height: 60px;
    width: auto;
}

/* Login card */
.login-card {
    background: #7A0200;
    background-image: url('../images/BG Login.png');
    background-size: cover;
    padding: 40px;
    width: 90%;
    max-width: 500px;
    border-radius: 18px;
    text-align: center;
    color: white;
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
    animation: fadeIn 0.6s ease-in-out;
    height: 550px;
}

/* Judul dan teks */
.login-card h1 {
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.login-card p {
    font-size: 14px;
    margin-bottom: 20px;
    opacity: 0.9;
}

/* Gambar */
.login-card img {
    width: 260px;
    max-width: 100%;
    margin-bottom: 20px;
}

/* Input group */
.input-group {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.input-group input {
    width: 75%;
    padding: 12px 16px;
    padding-left: 45px; /* space for icon */
    font-size: 15px;
    border-radius: 12px;
    border: 2px solid #fff;
    background: #fff;
    color: #000;
    outline: none;
    transition: 0.3s;
}

.input-group input:focus {
    box-shadow: 0 0 0 2px white;
}

.input-group svg {
    position: absolute;
    left: 68px;  /* geser ikon sedikit ke kanan */
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    stroke: #000;
    pointer-events: none;
}

/* Button */
button {
    width: 20%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: white;
    color: #7A0200;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #f2f2f2;
    transform: translateY(-2px);
}

/* Animasi fadeIn */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-30px); }
    to { opacity: 1; transform: translateY(0); }
}

/* MEDIA QUERIES */

/* Tablet */
@media (max-width: 768px) {
    .login-card {
        padding: 35px;
    }

    button {
        width: 60%;
    }

    .logo-area img {
        height: 50px;
    }
}

/* HP */
@media (max-width: 480px) {
    .login-card {
        padding: 25px 20px;
    }

    .logo-area {
        flex-direction: column;
        gap: 10px;
        top: 10px;
        left: 10px;
    }

    button {
        width: 80%;
    }

    .login-card img {
        width: 100px;
        margin-bottom: 15px;
    }

    .input-group input {
        padding-left: 40px;
    }
}
